@using ConstanciaNoInhabilitado.Shared.Entities.Login;
@using ConstanciaNoInhabilitado.Shared.Entities.Catalogos;
@using ConstanciaNoInhabilitado.Client.Componentes.Admin.ComponentesAdmin.RegistrarInhabilitado;
@inject IDialogService DialogService
@inject HttpClient httpClient;

<MudDialog>
    <TitleContent>
        <div class="container">
            <p style="text-align:center; font-size: 1.8rem;">
                <b>Define al inhabilitado</b>
            </p>
        </div>
    </TitleContent>
    <DialogContent>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="6">               
                <MudTextField @bind-Value="Rfc" Label="R.F.C" Variant="Variant.Outlined" OnBlur="Buscar"></MudTextField>               
            </MudItem>
            @if (Inhabilitados is not null)
            {
                @if (Inhabilitados.Count() > 0)
                {
                    <MudItem xs="6">
                        <br />
                        <MudAlert Severity="Severity.Info">
                            <b>El RFC ya ha sido registrado</b><br />
                            <b>Nombre: </b> @Inhabilitados.FirstOrDefault().ApellidoPaterno @Inhabilitados.FirstOrDefault().ApellidoMaterno @Inhabilitados.FirstOrDefault().Nombre <br />
                            <b>Sexo:</b> @(Inhabilitados.FirstOrDefault().IdGenero == (int)Genero.Femenino ? Genero.Femenino : Inhabilitados.FirstOrDefault().IdGenero == (int)Genero.Masculino ? Genero.Masculino : Inhabilitados.FirstOrDefault().IdGenero == (int)Genero.Otro ? Genero.Otro : Genero.Otro) <br />
                            <b>Tipo:</b> @(Inhabilitados.FirstOrDefault().Tipo == ((int)TipoPersona.Fisica).ToString() ? TipoPersona.Fisica : TipoPersona.Moral)
                        </MudAlert>
                        <br />
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="Submit">User este registro</MudButton>
                    </MudItem>
                }               
            }
            @if (MostrarParteAgregarNuevoServidorPublico)
            {
                <RegistrarInhabilitado MostrarModal="true" _servidorPublicoCallBack="SubmitServidor" RFCModal="Rfc"></RegistrarInhabilitado>
            }
        </MudGrid>        
    </DialogContent>
    <DialogActions>
    </DialogActions>
</MudDialog>

<style>
    a {
        color: #A5987E;
        opacity: 75%;
    }

    .my-custom-class {
        backdrop-filter: blur(10px);
    }
</style>

