@page "/ConstanciaNoInhabilitado/Admin/EditarInhabilitado"

@using ConstanciaNoInhabilitado.Client.Shared.Forms;
@using ConstanciaNoInhabilitado.Client.Componentes.Menu;
@using MudBlazor
@using ConstanciaNoInhabilitado.Client.Auth;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using ConstanciaNoInhabilitado.Client.Shared.Partial.Cards;
@using ConstanciaNoInhabilitado.Shared.Entities.Login;
@inject AuthenticationStateProvider authenticationStateProvider;
@inject NavigationManager navigationManager;
@attribute [Authorize]
@inject IDialogService DialogService
@using System.Net.Http.Json
@inject HttpClient Http


<MainFormHome>
    <ContentBreadcrumbs>
        <MudLink Href="ConstanciaNoInhabilitado/Default">
            <b>Inicio</b>
        </MudLink>
        <b>/</b>
        <MudLink Href="ConstanciaNoInhabilitado/Admin/Default">
            <b>Administración</b>
        </MudLink>
        <b>/</b>
        <b style="color:#A8113E;">
            Editar Inhabilitados
        </b>
    </ContentBreadcrumbs>
    <Main>
        <CardForm>
            <Content>


                @if (Elements is null)
                {
                    @* <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                    <MudProgressLinear Color="Color.Tertiary" Size="Size.Large" Value="75" /> *@
                    <div class="d-flex justify-content-center">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only"></span>
                        </div>
                        <div class="spinner-grow text-secondary" role="status">
                            <span class="sr-only"></span>
                        </div>
                        <div class="spinner-grow text-success" role="status">
                            <span class="sr-only"></span>
                        </div>
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only"></span>
                        </div>
                        <div class="spinner-grow text-warning" role="status">
                            <span class="sr-only"></span>
                        </div>
                        <div class="spinner-grow text-info" role="status">
                            <span class="sr-only"></span>
                        </div>

                        <div class="spinner-grow text-dark" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                    

                }
               
                else
                {
                    <MudTable Items="@Elements" Dense="false" Hover="true" @ref="table" Filter="new Func<ServidorPublico,bool>(FilterFunc)">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Inhabilitados</MudText>
                            <MudSpacer />
                            <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Buscar..." Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>ID</MudTh>
                            <MudTh>NOMBRE</MudTh>
                            <MudTh>APELLIDO PATERNO</MudTh>
                            <MudTh>APELLIDO MATERNO</MudTh>
                            <MudTh>CURP</MudTh>
                            <MudTh>RFC</MudTh>
                            <MudTh>GENERO</MudTh>
                            <MudTh>EDITAR</MudTh>

                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Nr">@context.IdInhabilitado</MudTd>
                            <MudTd DataLabel="Nr">@context.Nombre.ToUpper()</MudTd>
                            <MudTd DataLabel="Sign">@context.ApellidoPaterno.ToUpper()</MudTd>
                            <MudTd DataLabel="Name">@context.ApellidoMaterno.ToUpper()</MudTd>
                            <MudTd DataLabel="Position" HideSmall="_hidePosition">@context.CURP.ToUpper()</MudTd>
                            <MudTd DataLabel="Position" HideSmall="_hidePosition">@context.RFC.ToUpper()</MudTd>

                            <MudTd DataLabel="Genero">@context.genero_valor.ToUpper()</MudTd>
                            <MudTd DataLabel="Genero"><MudButton Size="@Size.Small" Variant="@Variant.Filled" OnClick="(()=>OpenDialog(context))" Color="@Color.Primary">Editar</MudButton></MudTd>

@*                             <MudButton Size="@Size.Small" Variant="@Variant.Filled" OnClick="(()=>OpenDialog(context))" Color="@Color.Primary">Editar</MudButton>
 *@                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                    
                }
                
            </Content>
        </CardForm>

       



    </Main>
</MainFormHome>

